 body {
     font-family: 'Athiti';
     padding-top: 70px;
     /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
 }
#calendar {
    max-width: 800px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
